# =========================
# Git
# =========================
**/.git
**/.gitignore

# =========================
# Build outputs
# =========================
**/bin/
**/obj/
**/out/
**/publish/

# =========================
# IDE
# =========================
**/.vs/
**/.vscode/
**/*.user
**/*.suo

# =========================
# Logs
# =========================
**/*.log

# =========================
# NuGet / EF / Cache
# =========================
**/.nuget/
**/*.nupkg
**/packages/
**/efbundle*

# =========================
# Web uploads (your project)
# =========================
**/wwwroot/UploadedImages/
**/wwwroot/UploadedFiles/

# =========================
# Docker & docs
# =========================
Dockerfile
docker-compose*
README.md

# =========================
# OS junk
# =========================
**/Thumbs.db
**/Desktop.ini